tests/flows/basic-layout-before.json
[
    {
        "id": "6e158c58de737d66",
        "type": "tab",
        "label": "My Migration Before",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79a7c26e91eca376",
        "type": "ui_template",
        "z": "6e158c58de737d66",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 320,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "fed8f28d75ee666f",
        "type": "ui_text",
        "z": "6e158c58de737d66",
        "group": "856a31bba370e7fc",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "label:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
        "fontSize": 16,
        "color": "#ff0000",
        "x": 310,
        "y": 600,
        "wires": []
    },
    {
        "id": "ca592363e478c44a",
        "type": "ui_form",
        "z": "6e158c58de737d66",
        "name": "",
        "label": "",
        "group": "856a31bba370e7fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Text Input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 310,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e51c3b80c16ecc5a",
        "type": "ui_button",
        "z": "6e158c58de737d66",
        "name": "",
        "group": "856a31bba370e7fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Button Label",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "payload": "static-payload",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "55bcb4188e44e62d",
        "type": "ui_dropdown",
        "z": "6e158c58de737d66",
        "name": "",
        "label": "My Dropdown",
        "tooltip": "",
        "place": "Please Select",
        "group": "856a31bba370e7fc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Option 1",
                "value": "option1",
                "type": "str"
            },
            {
                "label": "Option 2",
                "value": "option2",
                "type": "str"
            },
            {
                "label": "Option 3",
                "value": "option3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 340,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "275f06267947c907",
        "type": "ui_switch",
        "z": "6e158c58de737d66",
        "name": "",
        "label": "My Switch",
        "tooltip": "",
        "group": "856a31bba370e7fc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "wifi",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "wifi",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "19eba95ed97bb4e7",
        "type": "ui_slider",
        "z": "6e158c58de737d66",
        "name": "",
        "label": "My Slider",
        "tooltip": "",
        "group": "856a31bba370e7fc",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 320,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "fe03c45b52e5a9b5",
        "type": "ui_text_input",
        "z": "6e158c58de737d66",
        "name": "",
        "label": "My Input",
        "tooltip": "",
        "group": "856a31bba370e7fc",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 320,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "58d1200d4648ff7b",
        "type": "ui_chart",
        "z": "6e158c58de737d66",
        "name": "My Favorite Chart",
        "group": "856a31bba370e7fc",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "My Favorite Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "abcd",
        "x": 350,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0df041731c3101f1",
        "type": "ui_audio",
        "z": "6e158c58de737d66",
        "name": "My Audio Out",
        "group": "856a31bba370e7fc",
        "voice": "Microsoft David - English (United States)",
        "always": "",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "ddca2be4bd1c8726",
        "type": "ui_led",
        "z": "6e158c58de737d66",
        "order": 8,
        "group": "856a31bba370e7fc",
        "width": 0,
        "height": 0,
        "label": "My Led",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "My Led",
        "x": 320,
        "y": 360,
        "wires": []
    },
    {
        "id": "e57c31b8e11778bd",
        "type": "ui_ui_control",
        "z": "6e158c58de737d66",
        "name": "My Control",
        "events": "change",
        "x": 330,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7fd46d95e548d6f4",
        "type": "ui_gauge",
        "z": "6e158c58de737d66",
        "name": "My Favorite Gauge",
        "group": "856a31bba370e7fc",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}} %",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "0b9183b6cde724eb",
        "type": "ui_toast",
        "z": "6e158c58de737d66",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 330,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b52c292d531874a6",
        "type": "ui_numeric",
        "z": "6e158c58de737d66",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "856a31bba370e7fc",
        "order": 13,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "$ {{value}} ",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 320,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "856a31bba370e7fc",
        "type": "ui_group",
        "name": "My Group",
        "tab": "2543b03fbc35fb72",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2543b03fbc35fb72",
        "type": "ui_tab",
        "name": "My Page",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]